<%- include("partials/header.ejs") %>

<div class="cur container">
    <h1> ID: <%= Number(id) + 1 %> <%= title.slice(id.length + 1) %></h1>
    
    <p><%= content %></p>
</div>

<%- include("partials/footer.ejs") %>