<%- include("partials/header.ejs") %>

<div class="new container">
    <form action="/edit" method="POST">
        <h1 class="feature-title search">Edit Post:</h1>
        <input type="hidden" name="editId" value="<%= id %>">
        <input class="text-box" type="text" name="editTitle" placeholder="Title" value=<%= title %>>
        <textarea class="text-box" id="content-box" type="text" name="editContent" placeholder="Content"><%= content %></textarea>
        <input class="edit button" id="newpost-button" type="submit" value="Confirm">
    </form>

    <form action="/delete" method="POST">
        <input type="hidden" name="deleteID" value="<%= id %>">
        <input class="delete button" id="newpost-button" type="submit" value="Delete Post">
    </form>

</div>

<%- include("partials/footer.ejs") %>