<%- include("partials/header.ejs") %>


<h1 class="home">Welcome to Blog-Post website!</h1>

<div class="feature container">

    <form action="/search" method="GET">
        <h3 class="feature-title search">Search:</h3>
        <input class="text-box" type="text" name="post-header" placeholder="Type your post title here...">
        <input class="search button" type="submit" value="Search">
    </form>

    <form action="/page" method="POST">
        <h3 class="feature-title page">Change Page:</h3>
        <input class="text-box" type="text" name="page-num" placeholder="Type page number here...">
        <input class="page button" type="submit" value="Enter">
    </form>
</div>

<div class="post container">
    <% if (data.length != 0) { %>
        <% for (let i= (page - 1) * 10 ; i < page * 10; i++) { %>
            <% if (i >= data.length) { %>
                <% break; %>
            <% } %>

            <post>
                <a href="/post?<%= 'title=' + encodeURIComponent(data[i][0]) + '&content=' + encodeURIComponent(data[i][1]) %>">
                    <% const newTitle = data[i][0]; %>

                    <% if (newTitle.length >= 70) { %>
                        <%= newTitle.slice(0, 65) + "......." %>
                    <% } else { %>
                        <%= newTitle %>
                    <% } %>
                </a>
            </post>
            </post>
        <% } %>
    <% } else {%>
        <post></post>
    <% } %>
    
    <% if (page < 10) { %>
        <p>Page: <%= page %> / 1</p>
    <% } else { %>
        <p>Page:<%= page %> / <%= Math.floor(page/10) %></p>
    <% } %>

</div>

<%- include("partials/footer.ejs") %>